[submodule "cpp_tests"]
	path = cpp_tests
	url = https://github.com/theodorechle/cpp_tests
[submodule "cpp_style"]
	path = cpp_style
	url = https://github.com/theodorechle/cpp_style
[submodule "cpp_commons"]
	path = cpp_commons
	url = https://github.com/theodorechle/cpp_commons.git
