name: C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install libraries
      run: |
        sudo apt-get install build-essential git make \
          pkg-config cmake ninja-build gnome-desktop-testing libasound2-dev libpulse-dev \
          libaudio-dev libfribidi-dev libjack-dev libsndio-dev libx11-dev libxext-dev \
          libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev libxss-dev libxtst-dev \
          libxkbcommon-dev libdrm-dev libgbm-dev libgl1-mesa-dev libgles2-mesa-dev \
          libegl1-mesa-dev libdbus-1-dev libibus-1.0-dev libudev-dev cmake libharfbuzz-dev
        
        git clone https://github.com/libsdl-org/SDL.git
        cd SDL
        cmake -S . -B build
        cmake --build build -j
        sudo cmake --install build --prefix /usr/local

        git clone https://github.com/libsdl-org/SDL_ttf/
        cd SDL_ttf
        ./external/download.sh
        cmake -S . -B build
        cmake --build build -j
        sudo cmake --install build --prefix /usr/local

    - name: Compile tests
      run: make -j tests
    
    - name: Execute tests
      run: bin/tests
